.dashboardRow {
    display: flex;
    align-items: left;

  }
  
  .locationDetailsBox {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 5px;
    width: 95%; /* Adjust width as needed */
    height: 630px;
  }
  
  .StaionDetailsBox {
    background-color: #cbe9ef;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 10px;
    width: 256px; /* Adjust width as needed */
    height: 60px;
  }

  .StaionDetailsBoxuser {
    background-color: #cbe9ef;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 10px;
    width: 256px; /* Adjust width as needed */
    height: 100px;
  }
  .number{
    font-size: 24px;
    text-align: center;
    
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 70px;
  }
  .numberuser{
    font-size: 24px;
    text-align: left;
    
    margin-top: 20px;
    
    margin-left: 70px;
  }
  .numberuser1{
    font-size: 24px;
    text-align: left;
    
    margin-top: 4px;
    
    margin-left: 70px;
  }

  .text{
    margin-top: 0;
    margin-left: 10px;
    
  }
  
  .StaionBox{
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 10px;
    width: 600px; /* Adjust width as needed */
    height: 250px;
  }

  .insidebox{
    background-color: #cbe9ef;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 20px;
    width: 220px; /* Adjust width as needed */
    height: 120px;
  }

   .table th {
    padding-bottom: 10px;
    padding-right: 200px; /* Adjust this value to change the amount of space */
  }

  .table thead th {
    background-color: #E1F3FC; /* Set the background color here */
  }
  .table {
    margin-top: 25px;
    margin-left: 40px;
    font-size: 18px;
  }
  .table tbody tr:nth-child(even){
    background-color: #fff; /* Set the background color for even rows */
    border-bottom: 5px solid black;
  }


  .position_of_chart{
    margin-left: 400px;
    height: 150px;
    width: 150px;
    
    margin-bottom: 300px;
  }

  .current_User{
    font-size: 24px;
    margin-left: 25px;
    margin-top: 25px;
  }

  .profile-circle {
    width: 30px; /* Adjust the width and height as needed */
    height: 30px;
    border-radius: 50%; /* Make it circular */
    background-color: rgb(218, 60, 126);
    background-size: cover; /* Ensure the image covers the entire circle */
  }
  